[Unit]
Description=Minecraft Server - LAN Broadcast
After=minecraft-server.service

[Service]
User=minecraft
Group=minecraft

Restart=on-failure
RestartSec=20 5

WorkingDirectory=/home/minecraft
ExecStart=/usr/bin/perl announce.pl

[Install]
WantedBy=multi-user.target
